@import '../../app/style/variables.module.scss';

.playground {
  height: calc(100vh - #{$nav-height});
  overflow: hidden;

  &__canvas {
    height: calc(100vh - #{$nav-height});
    background-color: $primary-400;
  }
}
