@import '../../app/style/variables.scss';

.playground {
  width: 100vw;
  height: calc(100vh - #{$nav-height});

  &__canvas {
    width: 100vw;
    height: calc(100vh - #{$nav-height});
    background-color: $primary-400;
  }
}
