@import '../../../../app/style/variables.module.scss';

.vehicleSection {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__heading {
    padding: 5px 15px;

    & p {
      margin-top: 5px;
    }
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2px 0;

    & label {
      width: 60px;
    }

    & input {
      -webkit-appearance: none;
      appearance: none;
      height: 6px;
      width: 150px;
      border-radius: 30px;
      background: $primary-400;
      // overflow: hidden;

      &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        background: white;
        cursor: pointer;
        border-radius: 30px;
        outline: none;
        // box-shadow: -150px 0 0 150px blue;
      }
    }

    & p {
      width: 60px;
      margin: 0;
    }
  }
}
