@import '../../variables.scss';

button {
  cursor: pointer;
  outline: none;
  padding: $spacing-sm $spacing-md;
  border-radius: $border-radius;
  font-size: 1rem;
  font-family: inherit;
  color: $neutral-100;
  border: 1px solid transparent;
  transition: 0.3s ease all;
}

.primary {
  background: $primary-100;

  &:hover {
    border-color: $primary-100;
    color: $primary-100;
    background-color: $primary-300;
  }

  &:active {
    border-color: $primary-100;
    color: $primary-100;
    background: linear-gradient(
      rgba($primary-100, 0.2),
      rgba($primary-100, 0.3)
    );
  }
}

.secondary {
  background: $primary-300;
}
