@import '../../style/variables.scss';

.button {
  cursor: pointer;
  margin: 5;
  outline: none;
  padding: $spacing-sm $spacing-md;
  border-radius: $border-radius;
  font-size: $paragraph;
  font-weight: bold;
  font-family: inherit;
  color: $neutral-100;
  border: 2px solid transparent;

  &:disabled {
    background-color: grey;
  }
}

.primary {
  background: $primary-100;
  transition: background 0.8s;
  background-position: center;
  box-shadow: 0 5px 4px rgba(black, 0.3);

  &:hover {
    background: rgba($primary-100, 0.8)
      radial-gradient(circle, transparent 1%, rgba($primary-100, 0.8) 1%)
      center/15000%;
  }

  &:active {
    background-color: white;
    background-size: 100%;
    transition: background 0s;
  }
}

.secondary {
  overflow: hidden;
  position: relative;
  background: linear-gradient(
    to right,
    $primary-100,
    $primary-100 50%,
    $neutral-100 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;

  &:active {
    background-position: 0 100%;
  }

  @include breakpoint(lg) {
    &:hover {
      background-position: 0 100%;
    }

    &:active {
      -webkit-text-fill-color: rgb(116, 65, 3);
    }
  }
}

.button__close {
  background: none;
  cursor: pointer;
  border: none;
  color: black;
  position: absolute;
  top: 2%;
  right: 2%;
  border-radius: 0.2rem;

  &:hover {
    background: $neutral-200;
  }
}

.button__icon {
  cursor: pointer;
  background-color: $primary-400;
  outline: none;
  border: none;
  border-radius: 20px;
  transition: 0.4s all ease;
  box-shadow: 0 5px 4px rgba(black, 0.3);

  &:active {
    svg {
      fill: $primary-100;
    }
  }

  @include breakpoint(lg) {
    &:hover {
      svg {
        fill: $primary-100;
      }
    }
  }
}
