@import '../../app/style/variables.module.scss';

.button {
  cursor: pointer;
  outline: none;
  padding: $spacing-sm $spacing-md;
  border-radius: $border-radius;
  font-size: $paragraph;
  font-weight: bold;
  font-family: inherit;
  color: $neutral-100;
  border: 2px solid transparent;

  &:hover {
    transform: scale(1.1);
    transition: 0.2s ease;
  }

  &:disabled {
    background-color: $neutral-400;
    &:hover {
      background-color: $neutral-400;
      cursor: not-allowed;
    }
  }
}

.primary {
  background: $primary-100;
  transition: background 0.8s;
  background-position: center;
  // box-shadow: 0 5px 4px rgba(black, 0.3);

  &:hover {
    background: rgba($primary-100, 0.8)
      radial-gradient(circle, transparent 1%, rgba($primary-100, 0.8) 1%)
      center/15000%;
  }

  &:active {
    background-color: white;
    background-size: 100%;
    transition: background 0s;
  }
}

.secondary {
  overflow: hidden;
  background: linear-gradient(
    to right,
    $primary-100,
    $primary-100 50%,
    $neutral-100 50%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
  transition: background-position 275ms ease;

  &:active {
    background-position: 0 100%;
  }

  @include breakpoint(lg) {
    &:hover {
      background-position: 0 100%;
    }

    &:active {
      -webkit-text-fill-color: rgb(116, 65, 3);
    }
  }
}

.danger {
  background: $error-100;
  border: 2px solid $error-100;
  color: $neutral-100;
  padding: 2px 4px;
  min-width: 100px;
  border-radius: 5px;
}

.cancel {
  background: $neutral-400;
  border: 2px solid $neutral-400;
  color: $neutral-100;
  padding: 2px 4px;
  min-width: 100px;
  border-radius: 5px;
}

.info {
  background: $info-100;
  padding: 2px 4px;
  min-width: 100px;
  border-radius: 5px;
}

.success {
  background: $success-100;
  padding: 2px 4px;
  min-width: 100px;
  border-radius: 5px;
}

.menu {
  background: $primary-400;
}

.closeButton {
  width: 30px;
  height: 30px;
  background: white;
  border-radius: 50px;
  color: $primary-500;
  margin: 5px;
}
