@import '../../../app/style/variables.scss';

.settings {
  position: absolute;
  top: $nav-height;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: $primary-500;
  padding: 10px;
  border-radius: 50px;
  margin: 20px;
  &:hover {
    transform: scale(1.2);
    transition: 0.2s ease;
  }
  &--hide {
    display: none;
  }
}
