.divider {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;

  & svg {
    cursor: default;
  }

  &::before,
  &::after {
    background-color: #fff;
    content: '';
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &::before {
    right: 0.5em;
    margin-left: -50%;
  }

  &::after {
    left: 0.5em;
    margin-right: -50%;
  }
}
