@import '../../../app/style/variables.scss';

.editorMenu {
  height: 70px;
  background-color: $primary-500;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  ul {
    width: 100%;
    display: flex;
    justify-content: space-around;

    li {
      display: flex;
      align-items: center;
    }
  }
}
