@import './../../variables.scss';

.modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;

  &:empty {
    display: none;
  }
}

.button {
  position: absolute;
  top: 10%;
  right: 5%;
}
