@import '../../../app/style/variables.scss';

.settingsMenu {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: -300px;
  width: 300px;
  height: calc(100vh - #{$nav-height});
  background: $primary-500;
  transition: margin 0.5s ease;
  z-index: 1;
  overflow-y: auto;

  &--open {
    margin: 0;
  }

  &__closeContainer {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: left;
  }

  &__closeButton {
    width: 40px;
    height: 40px;
  }

  &__button {
    display: block;
  }
}
