@import './../../variables.scss';

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 2px solid black;
  border-radius: 4px;
}

form button {
  width: 100%;
}

.error {
  color: $error-100;
}
