@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

// font
$primary-font: 'Poppins', sans-serif;

// color
$primary-100: #ff7d00;
$primary-200: #fcf7f8;
$primary-300: #93a3b1;
$primary-400: #34495e;
$primary-500: #2c3e50;

$neutral-100: #fff;
$neutral-200: #f4f5f7;
$neutral-300: #e1e1e1;
$neutral-400: #737581;
$neutral-500: #4a4b53;
$neutral-600: #000;

$success-100: #529e66;
$error-100: #d0454c;
$warning-100: #e1c542;

// typography
$header1: 1.8rem;
$header2: 1.6rem;
$header3: 1.4rem;
$header4: 1.2rem;
$header5: 1.1rem;
$paragraph: 1rem;
$helper-text: 0.8rem;

// spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 32px;

// border-radius
$border-radius: 12px;

// header height
$nav-height: 80px;

// points
$sm: 30em;
$md: 48.5em;
$lg: 64em;
$xl: 75em;

@mixin breakpoint($point) {
  @if $point == sm {
    @media (min-width: $sm) {
      @content;
    }
  }
  @if $point == md {
    @media (min-width: $md) {
      @content;
    }
  }
  @if $point == lg {
    @media (min-width: $lg) {
      @content;
    }
  }
}
